.wrapper {
   height: 712px;
   background-image: url('../../assets/bannerDown.png');
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: auto;
}

.inner {
   padding: 140px 0 0;
}

.features {
   padding: 120px 0 80px;
}

.cta {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url('../../assets/Site.jpg');
   padding: 120px 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.process {
   padding: 120px 0;
}

.security {
   padding: 140px 0;
   background-color: #000000;
}