.wrapper {
   height: 712px;
   background-image: url('../../assets/bannerDown.png');
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: auto;
   /* width: 100%; */
}

.inner {
   padding: 140px 0 0;
}

.features {
   padding: 50px 0 0 0;
}